.container {
	width: 70%;
	margin: 50px auto;
	text-align: center;
}

.ui.card {
	display: inline-block;
	margin: 10px;
	padding: 5px;
	min-height: 250px;
}

#form {
	width: 600px;
	margin-bottom: 50px;
}

.icon {
	color: grey;
}

.icon:hover {
	color: #0D71BB;
	cursor: pointer;
}